.main{
    padding:10%;
}

.message h4{
    font-weight: 200;
    font-size: 2em;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    animation: 
        typing 10s steps(1009) ,
        cursor .1s step-end infinite alternate;
        text-shadow: 1px 1px 1px #919191,
        1px 1px 1px #919191,
        1px 1px 1px #919191;
    
}


.message h1{
    overflow: hidden;
    border-right: .06em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;


    font-weight: bold;
    font-size: 7vw; 
    min-width: 3px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;

    text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191;
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #2196F3; }
  }

/* @keyframes cursor{
    50% {border-color: aqua;}
} */

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

/* .message h1 span{
    position: ;
} */

.message h3{
    margin-top: 10px;
    font-size: 1.8vw;
    font-weight: 100;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    animation: 
      typing 3.5s steps(400, end),
      blink-caret .75s step-end infinite;
        
}

.message{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
}

.socials{
    display: flex;
    justify-content: space-between;
    padding: 5% 0;
    width: 75vw;
}

.icons{
    display: flex;
    gap: 1.8em;
    margin: 5% 0;
}

.github{
    color: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.twitter{
    color: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  /* @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  } */
  
  /* The typewriter cursor effect */
  /* @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #2196F3; }
  } */