.main{
    /* background-color: aqua; */
    z-index: -10000;
    overflow-x: hidden;
}

.titles{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    display: flex;
    gap: 1.5em;
    flex-direction: column;
    margin: 4% 0;

}

.titles h1{
    font-size: 3em;
    
}

.titles h3{
    font-weight: 300;
}



.absCont{
    margin-top: -17.5em;
    display: flex;
    padding: 5px 5px 5px 5px;
    gap: 1.2em;
    height: fit-content;
    justify-content: center;
    
}

.content{
    position: relative;
    background-color: white;
    width: 170vw;
    height: 90vh;
    border-radius: 70%; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content:center;
    
    
}